body{ 
  background-color: #edf2f4!important;
}
.banner {
  background-color: #8205FF;
  margin-bottom: 2rem;
}
.App {
  display: flex;
  flex-direction: column;
}
@font-face {
  font-family: Sablon;
  src: url("../../fonts/sablon-up.regular.otf") format("opentype");
}

.loading {
  width: 9rem;
  height: 9rem;
}
                    
.title {
  margin: 0.5rem 0;
  font-weight: 700;
  font-size: 4.5rem;
  text-align: center;
  white-space: nowrap;
  color: white;
  cursor: pointer;
}
.no-games {
  color: #8205FF;
  font-size: 1.5rem;
  white-space: normal;
  letter-spacing: -1px;
}
.no-games-today{
 font-weight: 700;
 font-size: 2rem;
}

.past-games-button {
  margin: 1rem auto;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #8205ff;
  background-color: transparent;
  border: 2px solid #8205ff;
  cursor: pointer;
  width: 90%;
  max-width: 20rem;
  animation: float 1s ease-in-out infinite;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.past-games-button:hover {
  background-color: #8205FF;
  color:white;
  
}
.arrows-container {
  max-width: 20rem;
  width: 20rem;
}
.up-arrow {
  transform: rotate(-90deg);
  width: 1rem;
  height: 1rem;
}
@media only screen and (max-width: 485px) {
  .title {
    font-size: 3rem;
  }
}

@keyframes float {
  0% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-4px);
  }
}