
/* Images */

img {
    height: 30px;
}

.homeimage {
    grid-area: homelogo;
}
.awayimage {
    grid-area: awaylogo;
}
.gamecard {
    box-sizing: border-box;
    border: 2px whitesmoke solid;
    display: grid;
    margin: 0.75rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:    "homelogo a b f"
                            "awaylogo d e f";
    background-color: rgb(50, 75, 151);
    max-width: 300px;
    /* This is currently controlling how wide they are */
}

p {
    color: white;
    padding: 1rem;
    text-align: center;
}

.hometeam{
    grid-area: a;
}

.hometeamscore{
    grid-area: b;
}

.awayteam{
    grid-area: d;
}

.awayteamscore{
    grid-area: e;
}
.status{
    grid-area: f;
    font-size: .75rem;
    
}