
/* Images */

img {
    height: 30px;
}

.homeimage {
    grid-area: homelogo;
}
.awayimage {
    grid-area: awaylogo;
}

.gamecard {
    border-radius: 7px;
    position: relative;
    box-sizing: border-box;
    display: grid;
    margin: 0.75rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:    "homelogo a b f"
                            "awaylogo d e f";
    background-color: #8205FF;
    width: 350px;
    animation:  0.75s ease-in-out cardAnimation;
    overflow: hidden;
    height: 100px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.gamecard-back {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
    grid-template-areas:    " title title title title"
                            "c d e f";
    position:absolute;
    width: 350px;
    background: rgb(59, 57, 53);  
    visibility: hidden; 
    align-items: center;
    padding-top: 1rem;
 
    
}
.gamecard-back-empty {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    grid-template-areas:    "a"
                            "b";
    position:absolute;
    width: 350px;
    background: rgb(59, 57, 53);  
    visibility: hidden; 
    align-items: center;
 
    
}
.gamecard:hover .gamecard-back {
    visibility: visible;
    animation:  0.25s ease-in-out cardBack;
}

.gamecard:hover .gamecard-back-empty {
    visibility: visible;
    animation:  0.25s ease-in-out cardBack;
}
.no-stats {
    grid-area: a;
}
.title-for-scores {
    grid-area: title;
    font-size: 1rem;
    color: white;
}
.top-scorer-1 {
    grid-area: c;
    font-size: 1rem;

}
.top-scorer-2 {
    grid-area: e;
    font-size: 1rem;

}

.score-1 {
    grid-area: d;
    font-size: 1rem;
    
}
.score-2{
    grid-area: f;
    font-size: 1rem;
}
p {
    color: white;
    padding: 1rem;
    text-align: center;
    white-space: nowrap;
}
.hometeam, .hometeamscore, .awayteam, .awayteamscore, .status {
    padding: 0;
    margin: 0;
}
.hometeam{
    grid-area: a;
    
}

.hometeamscore{
    grid-area: b;
    
    
}

.awayteam{
    grid-area: d;
}

.awayteamscore{
    grid-area: e;
}
.status{
    
    grid-area: f;
    font-size: .75rem;
    
}

@keyframes cardAnimation {
    0% {
      transform: translateY(-10%);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes cardBack {
      0% {
          top: 100px;
         
      }
      100% {
        
        top: 0px;
      }
  }