
/* Images */

img {
    height: 30px;
}

.homeimage {
    grid-area: homelogo;
}
.awayimage {
    grid-area: awaylogo;
}

.gamecard {
    position: relative;
    box-sizing: border-box;
    border: 2px whitesmoke solid;
    display: grid;
    margin: 0.75rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:    "homelogo a b f"
                            "awaylogo d e f";
    background-color: rgb(50, 75, 151);
    width: 350px;
    animation:  0.75s ease-in-out cardAnimation;
    overflow: hidden;
    height: 100px;
}
.gamecard-back {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    grid-template-areas:    "a title title b"
                            "c d e f";
    position:absolute;
    width: 350px;
    background: rgb(59, 57, 53);  
    visibility: hidden; 
    align-items: center;
 
    
}
.gamecard:hover .gamecard-back {
    visibility: visible;
    animation:  0.25s ease-in-out cardBack;
}
.title-for-scores {
    grid-area: title;
    font-size: 1rem;
    color: white;
}
.hometeam-top-scorer {
    grid-area: c;
    font-size: 1rem;

}
p {
    color: white;
    padding: 1rem;
    text-align: center;
    white-space: nowrap;
}

.hometeam{
    grid-area: a;
}

.hometeamscore{
    grid-area: b;
}

.awayteam{
    grid-area: d;
}

.awayteamscore{
    grid-area: e;
}
.status{
    grid-area: f;
    font-size: .75rem;
    
}

@keyframes cardAnimation {
    0% {
      transform: translateY(-10%);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes cardBack {
      0% {
          top: 100px;
         
      }
      100% {
        
        top: 0px;
      }
  }