.games {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

@media only screen and (min-width: 1510px) {
    .games {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 1130px) {
    .games {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 768px) {
    .games {
        grid-template-columns: 1fr;
    }
}

.scoreboard-title{
    color: #8205FF;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
}

.standings-button {
    padding: 0.5rem 1rem;
    color: #8205FF;
    border: 2px solid #8205FF;
    margin-bottom: 0.5rem;
    background-color: transparent;
}
.margin {
    margin-bottom: 2rem;
}